# Terraform
.terraform/
*.tfstate
*.tfstate.*
tfplan
*.tfplan
crash.log
terraform-debug.log
plan-debug.log

# Ansible
ansible/inventory.ini

# Java/Maven
target/
*.class

# Environment/secrets
.env
*.pem
*.key
